@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: rgba(15, 13, 7, 0.6) 100%;
  box-shadow: 2px 3px 3px rgba(255, 207, 86, 0.327);
  border: 1px solid #4a4210;
  color: #ffffff;
}

.btn:hover {
  background: #2a9ba5;
  box-shadow: none;
  color: #f1f1f1;
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #dbcca5 21.63%,
    #3bace2 50.43%,
    #ffffff 117.04%
  );
}

.active {
  color: #051168;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#dbcca5] to-[#f3b6e8] font-bold font-primary hover:from-[#f3b6e8] hover:to-[#a7c2eb];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
